<% provide(:title, t('user.form.edit.title')) %>

<% provide(:button_text, t('user.form.edit.submit')) %>

<%= render 'layouts/users/nav_bar' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class='page-title'><%= t('user.form.edit.title') %></h1>
    <%= render partial: 'form', locals: {user: user} %>
  </div>
</div>