<% provide(:title, t('user.form.new.title')) %>
<% provide(:button_text, t('user.form.new.submit')) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1 class="page-title"><%= t('user.form.new.title') %></h1>
  <%= render partial: 'form', locals: {user: user} %>
  </div>
</div>