<h1>Sample App</h1>
<p>Hi <%= @user.username %>,</p>
<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_users_account_activation_url(@token,
  email: @user.email) %>