#primary-sidebar {
  
  .nav {
    border-radius: 0; 
    background-color: #EFEFEF;
  }
  
  li:not(:last-child) {
      border-bottom: 1px solid #FFF;
  }
  
  li a::first-letter {
    text-transform: capitalize;
  }
  
  
.nav-link,
.nav-link:focus,
.nav-link.focus {
  background: transparent;
  color: $link-secondary-color;
    
  &:hover {
    color: $link-hover-secondary-color;
  }
    
  &:active,
  &.active {
    color: $link-primary-color;
    
    &:hover {
      color: $link-hover-primary-color;
    }
  }

}
  
}