<% provide(:title, t("session.form.title")) %>
<h1><%= t "session.form.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= link_to t('session.forgot-password'), new_users_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t 'session.remember-me' %></span>
      <% end %>
      
      <%= f.submit t("session.form.submit"), class: "btn btn-primary" %>
    <% end %>
  <p>New user? <%= link_to t('session.sign-up-btn'), signup_path %></p>
</div>