
.nav-tabs {
  margin-top: -35px;
}

.search-group input,
.search-group button  {
  font-size: 0.9rem
}

.pagination-block {
  margin-top: 20px;
  min-height: 50px;
}

.table thead th {
  border: 0;
}