header {
 height: $header-height;
 background-color: $secondary-color;
 color: #FFF;
}

header .navbar {
  padding: 0;
  margin: 0;
}

header .navbar .btn {
  margin-right: 10px;
}

header .navbar .btn:last-child {
  margin-right: 0;
}

header .dropdown-item::first-letter {
  text-transform: capitalize;
}

header .nav-item.dropdown > a {
  color: #FFF;
}

header .nav .nav-general .dropdown-toggle:after{
 display:none;
}

header .nav .nav-general i {
  font-size: 1.5rem;
}

#logo,
#logo > a {
  font-family: 'Prosto One', Arial;
  color: #FFF;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none
}

header .link-primary,
header .link-secondary{
  font-size: 1.15em;
  line-height: 2em;
  padding: 1rem 0.8rem;
  color: $tertiary-color;
  
  &:active,
  &:hover {
    color: $tertiary-color;
  }
}

header .link-secondary {
  color: #FFF;
}