input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

input[type=file].form-control {
  border: 0;
}

#error_explanation {
color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

form {
  p.text-muted {
    margin-top: -15px;
    padding: 0;
  }
}

.page-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 20px 0;
}