
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* Override bootstrap styles
----------------------------------------------------------------------------- */
  
.btn-primary-outline,
.btn-primary-outline:focus,
.btn-primary-outline.focus
  {
  border-color: $primary-color;
  color: $primary-color;
  
  &:active,
  &.active,
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary.focus
  {
  border-color: $primary-color;
  color: $tertiary-color;
  background-color: $primary-color;
    
  &:active,
  &.active,
  &:hover {
    border-color: $tertiary-color;
    color: $primary-color;
    background-color: $tertiary-color;
    border-radius: 4px;
  }
}


.input-group .btn-secondary,
.input-group .btn-secondary:focus,
.input-group .btn-secondary.focus
  {
  border-color: #ccc;

  &:active,
  &.active,
  &:hover {
    border-color: $tertiary-color;
  }
}

.btn-default,
.btn-default:focus,
.btn-default.focus
  {
  border-color: transparent;
  color: $primary-font-color;
  background-color: #EFEFEF;
  
  &:active,
  &.active,
  &:hover {
    background-color: #DFDFDF;
  }
}

.alert-danger {
  background-color: #FF4E46;
  border: 0px solid transparent;
  color: #fff;
  font-size: 1.3rem;
}

#error_explanation ul {
  color: #FF3F36;
  list-style-type: none;
  padding: 0 30px;
}


#error_explanation li::before {
  content: '-';
  padding-right: 10px;
}

.nav-pills .nav-link {
  border-radius: 0.1rem;
}
