<% provide(:title, t('password-reset.new.forgot-password')) %>
<h1><%= t 'password-reset.new.forgot-password' %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(:password_reset, url: users_password_resets_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.submit t('password-reset.new.submit-btn'), class: "btn btn-primary" %>
  <% end %>
  </div>
</div>