<%= render 'layouts/fonts' %>
<%= stylesheet_link_tag 'application', media: 'all' %>

<%= stylesheet_link_tag 'admin', media: 'all' if staff_member? %>

<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>

<%= yield(:header) if content_for? :header %>